.DS_Store
.Rhistory
exdata-data-household_power_consumption.zip
getdata-data-DATA.gov_NGAP.xlsx
getdata-data-EDSTATS_Country.csv
getdata-data-GDP.csv
getdata-data-PUMSDataDict06.pdf
getdata-data-restaurants.xml
getdata-data-ss06hid.csv
getdata-data-ss06pid.csv
getdata-jeff.jpg
getdata-wksst8110.for
page.html
